# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/
.env/

# IDE specific
.vscode/
.idea/

# FastAPI specific (if you're using Uvicorn, etc.)
*.log
*.pid
